@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Kaushan+Script&display=swap');
.lessonTitleBackground{
    -fx-background-color: #2E4052;

}
.kaushan {
    -fx-font-family: 'Kaushan Script', cursive;
    -fx-font-size: 100px;

}

.alegreya{
    -fx-font-family: 'Alegreya', serif;
    -fx-font-size: 35px;


}

.pageBackground{
    -fx-background-color: #FFFFFF;
}

.cardBackground{
    -fx-background-color: #E4F1EE;
}
.filter{
    -fx-background-color: #CFD7DE;

}

.button{
    -fx-background-color: #abbcd6;
    -fx-background-radius: 8;
}



.choice-box .label {
     -fx-text-fill: #003D76;
     -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #CFD7DE;
}

.fav {
    -fx-font-family: 'AppleGothic';
    -fx-text-fill: #003d76;
}

.libraryBackground{
    -fx-background-color: #FBF7F4;
}


.homeButt{
    -fx-background-color:#F0F5FA;
}

.homeButt:hover {
    -fx-background-color: #CFD7DE;
    -fx-font-size: 35px;

}


