.lessonTitleBackground{
    -fx-background-color: #2E4052;

}

.pageBackground{
    -fx-background-color: #FFFFFF;
}

.cardBackground{
    -fx-background-color: #E4F1EE;
}
.filter{
    -fx-background-color: #CFD7DE;

}

.button{
    -fx-background-color: #abbcd6;
    -fx-background-radius: 8;
}

.homeBackground{
    -fx-background-image: url("file:CardPhotos/Icons/white_house.png");
    -fx-background-size:cover;

}

.choice-box .label {
     -fx-text-fill: #003D76;
     -fx-font-size: 12px;
}

.buttonH:hover {
    -fx-background-color: #003D76
}

.fav {
    -fx-font-family: 'AppleGothic';
    -fx-text-fill: #003d76;
}

.libraryBackground{
    -fx-background-color: #FBF7F4;
}


.homeButt{
    -fx-background-color:#F0F5FA;
    -fx-

}
.homeButt:hover {
    -fx-background-color: #CFD7DE
}


