.lessonTitleBackground{
    -fx-background-color: #2E4052;
  /*  -fx-font-family: "Gilda Display", Gilda Display;*/

}


.pageBackground{
    -fx-background-color: #FFFFFF;
}

.cardBackground{
    -fx-background-color: #FBF7F4;
}
.filter{
    -fx-background-color: #abbcd6;

}

.button{
    -fx-background-color: #abbcd6;
    -fx-background-radius: 50;
}

.homeBackground{
    -fx-background-image: url("file:CardPhotos/Icons/white_house.png");
    -fx-background-size:cover;

}

.choice-box .label {
     -fx-text-fill: #216065;
     -fx-font-size: 17px;
}

